<!-- ******CONTACT MAIN****** --> 
<section id="contact-main" class="contact-main section">
    <div class="container text-center">
        <h2 class="title">Get in touch</h2>
        <p class="intro">We'd love to hear from you. Contact us with your vessentail questions! </p>
        
        <div class="row">
            <div class="item col-md-4 col-sm-12 col-xs-12">
                <div class="item-inner">
                    <div class="icon">
                        <!--<i class="fa fa-envelope"></i>-->
                        <span class="fa fa-address-card"></span>
                    </div>
                    <div class="details">
                        <h4 class="title">Email &amp; Twitter:</h4>
                        <p><a href="#">support@vessentials.com</a></p>
                        <p><a href="https://twitter.com/3rdwave_themes" target="_blank">@Vessentials</a></p>
                    </div><!--details-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-12 col-xs-12">
                <div class="item-inner">
                    <div class="icon">
                        <!--<i class="fa fa-phone"></i>-->
                        <span class="fa fa-balance-scale"></span>
                    </div>
                    <div class="details">
                        <h4 class="title">Call us on:</h4>
                        <p class="phone">0800 123 456</p>
                        <p class="day">Mon-Sat 9am-6pm (GMT)</p>
                    </div><!--details-->
                </div><!--//item-inner-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-12 col-xs-12 last">
                    <div class="item-inner">
                    <div class="icon">
                        <!--<i class="fa fa-map-marker"></i>-->
                        <span class="fa fa-building"></span>
                    </div>
                    <div class="details">
                        <h4 class="title">Find us at:</h4>
                        <p class="address">123 Queen Square<br />Bristol, NY</p>
                    </div><!--details-->
                </div><!--//item-inner-->
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//contact-->    
<section class="container contact-form-section">
    <h3 class="title text-center">Contact Form</h3>
    <p class="intro text-center">Drop us a line lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
    <p class="intro text-center"><a href="https://twitter.com/3rdwave_themes" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @3rdwave_themes</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
    
    <div class="row text-center">                
        <div class="contact-form col-lg-6 col-12 ml-lg-auto mr-lg-auto">                            
            <form class="form" id="contact-form" method="post" action="#">                
                <div class="form-group name">
                    <label class="sr-only" for="name">Your name</label>
                    <input id="name" name="name" type="text" class="form-control" placeholder="Your name">
                </div><!--//form-group-->
                <div class="form-group email">
                    <label class="sr-only" for="email">Your email</label>
                    <input id="email" type="email" class="form-control" placeholder="Your email">
                </div><!--//form-group-->
                <div class="form-group message">
                    <label class="sr-only" for="message">Your message</label>
                    <textarea id="message" class="form-control" rows="8" placeholder="Your message"></textarea>
                </div><!--//form-group-->
                <button type="submit" class="btn btn-block btn-cta-primary">Send Message</button>
            </form><!--//form-->                 
        </div><!--//contact-form-->
    </div><!--//row-->
</section> 
 
<section class="map-section">
    <h3 class="sr-only title">Google Map</h3>
    <div class="gmap-wrapper" id="map">
        <!--//You need to embed your own google map below-->
        <!--//Ref: https://support.google.com/maps/answer/144361?co=GENIE.Platform%3DDesktop&hl=en -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d79444.64391671501!2d-0.21428374128957384!3d51.51972634746694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876045108e9cad3%3A0x6514817fa6d57c9!2sThe+Web+Kitchen!5e0!3m2!1sen!2suk!4v1469624353093" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div><!--//gmap-wrapper-->
</section><!--//map-->
<%= render 'layouts/bottombanner' %>

