@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300)
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600)
$bgcolor: #24282e
$red: #ec3029

body
  background-color: $bgcolor
  font-family: 'Open Sans', sans-serif
.donate
  /*padding: 50px*/
  background-color: #171b24
  width: 500px
  color: #FFF
.donate p
  line-height: 24px
  font-size: 14px
  font-weight: 300
.donate h3
  font-size: 14px
  font-weight: 300
  margin-bottom: 30px
.denomination
  float: left
  width: 33%
  text-align: center
  padding: 13px 0
  cursor: pointer
  background-color: #171b24
  margin: 0 1px 1px 0
.denomination label
  font-weight: 600
.denomination input
  left: -10001px
  position: absolute
.denomination-other
  width: 99.8%
.denomination-other input
  color: #FFF
  font-size: 14px
  font-weight: 600
  width: inherit
  text-align: center
  background-color: #171b24
  border: none
  padding: 13px 0
.denomination-other input:hover
  background-color: $red
.donate-amount .selected, .donate-amount .denomination:hover
  background-color: #EC3029
  border: 0
.donate-black h2
  font-family: 'Oswald', sans-serif
  color: #FFF
  font-size: 32px
  margin-bottom: 30px
.donate-black h2 span
  display: block
  float: left
  font-size: 16px
  padding-top: 7px
  margin-right: 20px
  text-align: center
  width: 30px
  height: 25px
  background-color: $red
  border-radius: 50%
.donate-type label,
.donate-payment label
  font-size: 14px
  font-weight: 300
  margin-right: 30px
.donate-blue
  background-color: #1e252d
  padding: 25px
.donate-black
  padding: 25px
.donate-submit button
  font-family: 'Oswald', sans-serif
  width: 100%
  background-color: $red
  border: none
  color: #FFF
  font-size: 20px
  line-height: 20px
  padding: 14px 0
  margin: 30px 0
  text-transform: uppercase
  cursor: pointer
.donate-submit small
  color: rgba(255, 255, 255, 0.4)
  font-size: 13px
\::-webkit-input-placeholder
  color: #FFF
  font-size: 14px
  font-weight: 300
\:-moz-placeholder
  color: #FFF
  font-weight: 300
\::-moz-placeholder
  color: #FFF
  font-weight: 300
\:-ms-input-placeholder
  font-weight: 300
  color: #FFF
*:focus
  outline: none