<div id="faqs">
	<div class="row">
		<div class="container col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
			<div id="faq-headers" class="text-center">
				<h1>Frequent Questions</h1>
				<h2>Simple answers to your most common questions</h2>
			</div>

			<h3>What's included?</h3>
			<p>Good question!Included in your order will contain: Shirts, Underwears, Sox, and other Hygienic products. </p>

How does billing and shipping work? 
We are a monthly subscription. That means you are re-billed every month. When you purchase your first box, your card is charged immediately (that same day). Re-billing for future boxes always occurs after you receive your box. You will be re-billed on the 15th of each month. 
Boxes are shipped out the first week of each month. To receive the "current" box, you must sign up on or before the last day of the previous month. For example, in order to get the "October's box", you must sign up before the last day in September. 

Can I cancel my subscription and/or receive a refund? 
If you ever need to close your subscription, you can cancel anytime by logging into your account or emailing us at support customersupport@thevessentials.com. In order to receive a refund, you must request one before the 19th of the month. Unfortunately, we are unable to provide refunds for boxes that have already shipped or if it is past the 19th of the month. To request a refund, please email us at customersupport@thevessentials.com


How do I contact you? 
You can contact us anytime at  customersupport@thevessentials.com. We pride ourselves on excellent customer service and you will receive a reply within two (2) business days. 

An item in my box broke. What can I do? 
We alway check the items to make sure they are intact before placing them. However, if you receive a broken item, please email us at customersupport@thevessentials.com within 24 hours of receiving your box and we will gladly assist you! Unfortunately, we cannot be responsible for items that are broken during or after use.
			
