<div id="faqs">
	<div class="row">
		<div class="container col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
			<div id="faq-headers" class="text-center">
				<h1>Frequent Questions</h1>
				<h2>Simple answers to your most common questions</h2>
			</div>

			<h3>What's included?</h3>
			<p>Good question! Every theme ships with an example site, compiled CSS and JavaScript, new theme-specific components, a documentation page, a Gulpfile for compiling on your own, and the source Less/Sass and JavaScript files (Less for Bootstrap 3, Sass for Bootstrap 4 – both are included in the download). </p>

			<h3>What devices and browsers do you support?</h3>
			<p>We support the latest versions of Safari (OS X and iOS), Chrome, Firefox, and Internet Explorer. Internet Explorer 9-11 are also supported. Opera Mini and Android's native Browser are not officially supported.</p>

			<h3>Are the themes Bootstrap 4 yet?!</h3>
			<p>Yes they are! When you download a theme there are 2 main directories, one for the latest stable version of Bootstrap 3, and one for the latest beta build of Bootstrap 4. We will continue to update BS4 themes as new versions of BS4's core are released – right now it's still in beta, but we'll keep our themes up to date as it advances towards a final stable build.</p>

			<h3>Which license is right for me?</h3>
			<p>The easiest way to decide which license you need is to ask “Who will have access to the theme’s code?” If the answer is “just me”, “me and my team”, or “me and the client that hired me,” you only need a Multiple Use License. If the answer is any group larger than that, you probably need an Extended License.</p>

			<h3>What’s an example of a proper use for each license?</h3>
			<p>Okay, let’s talk about the hypothetical social network startup Happytown. The team at Happytown wants to ship a new feature to show their users personalized stats about their account. Our Dashboard theme seems like a good fit for them. As long as Happytown is hosting the service and not distributing code to their users, they only need a Multiple Use License.</p>

			<p>But what if Happytown ships an enterprise version of their social network and distributes the source code from the Dashboard theme to companies? Well, for that they would need an Extended License because that would constitute “redistribution” and (if they were charging for the software) “resale” of our code.</p>

			<p>For specific questions, always feel free to email us at themes@getbootstrap.com! We’d be happy to help you decide which license is right for you.</p>

			<h3>Can I redownload the themes I buy?</h3>
			<p>Sure! We email you a link that you can use to download your theme up to 20 times. We limit this to avoid download links being shared publicly. If you end up using all 20, no problem, just send an email to themes@getbootstrap.com and we'll get you squared away.</p>

			<h3>Can I get a refund?</h3>
			<p>Sure, just email us at themes+refunds@getbootstrap.com with your invoice number and we'll get you sorted out.</p>

			<h3>Are theme updates free or paid for?</h3>
			<p>All theme updates are free for the life of a theme. We will notify you via the email when updates are available.</p>

			<h3>What do I do when I need help with a theme or have a question?</h3>
			<p>Shoot us an email at themes@getbootstrap.com and we'll get you squared away quickly :) We are focused on questions related to Bootstrap Themes though, so please no questions about Bootstrap core or general HTML, CSS, or JavaScript.</p>

			<h3>I found a bug in Bootstrap itself, what do I do?</h3>
			<p>Please file all Bootstrap related bugs over on the Bootstrap issue tracker. Thank you!</p>

			<h3>What do I do if I found a bug or have other questions about Bootstrap Themes?</h3>
			<p>If you think you've found an issue or have any other questions not covered above, please email us at themes+issues@getbootstrap.com. Please keep in mind that our current team is quite small and we'll do our very best to get back to you ASAP.</p>
		</div>
	</div>
</div>