<!-- ******FEATURES PROMO****** --> 
<section id="features-promo" class="features-promo section">
    <div class="bg-mask"></div>
    <div class="container">
        <div class="row">
            <div class="features-intro col-lg-5 col-md-6 col-12">
                <h2 class="title">Take a quick tour<br />to see how it works</h2>
                <ul class="list-unstyled features-list">
                  Annual fee-$49.99 The 6month after you start the program, and (*) cancellation fee.
Vessentials offers three programs
Basic- The basic program caters to the individual or household and provides a kit of 3 pairs of socks, underwear, t-shirts, deodorant, toothbrush, toothpaste, and toilet roll. The apparel arrives in three different colors: gray, white, black

Advanced – The advanced program fits the needs to the individual or household and provides a kit of 5 pairs of of socks, underwear, t-shirts, deodorant, toothbrush, toothpaste, and toilet roll. The apparel arrives in three different colors: gray, white, black, and blue


Family Pack The family pack fits the needs to the household of two or more children and provides a kit of 7 pairs of socks, underwear, t-shirts, deodorant, toothbrush, toothpaste, body wash & shampoo, and toilet roll. The apparel arrives in three different colors: gray, white, black, and blue

                </ul>
            </div><!--//intro-->
            <div class="features-video col-lg-7 col-md-6 col-12">
                <div class="video-container embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/28872840" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>               
                </div><!--//video-container-->  
            </div><!--//video-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//features-promo-->

<!-- ******FEATURES****** --> 
<section id="features" class="features section">
    <div class="container">
        <div class="item row">
            <div class="content col-md-5 col-12 order-md-12 ml-md-auto">
                <h3 class="title">Plenty of Vessentials</h3>
                <div class="details">
                    <p>Get high quality images to go to the left. Get high quality images to go to the left. Get high quality images to go to the left. Get high quality images to go to the left. Get high quality images to go to the left. Or remove this block entirely. Get high quality images to go to the left. </p>
                </div>
            </div><!--//content-->
            <div class="figure col-md-6 col-12 order-md-1">
                <img class="img-fluid" src="/assets/screenshot-1.png" alt="" />
            </div><!--//figure-->
        </div><!--//item-->
        
        <hr />
        
        <div class="item row">
            <div class="content col-md-5 col-12">
                <h3 class="title">Mens, Womens, Gender Neutral</h3>
                <div class="details">
                    <p>Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. </p>
                </div>
            </div><!--//content-->
            <div class="figure col-md-6 col-12 ml-md-auto">
                <img class="img-fluid" src="/assets/screenshot-2.png" alt="" />
            </div><!--//figure-->
        </div><!--//item-->
        
         <hr />
        
        <div class="item row">
            <div class="col-md-5 col-12 order-md-12 ml-md-auto">
                <h3 class="title">Delivered Quickly to your home</h3>
                <div class="details">
                    <p>Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. </p>
                </div>
            </div><!--//content-->
            <div class="figure col-md-6 col-12 order-md-1">
                <img class="img-fluid" src="/assets/screenshot-3.png" alt="" />
            </div><!--//figure-->
        </div><!--//item-->
        
         <hr />
        
        <div class="item row">
            <div class="content col-md-5 col-12">
                <h3 class="title">Wicked Fast Wicked Good</h3>
                <div class="details">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. </p>
                </div>
            </div><!--//content-->
            <div class="figure col-md-6 col-12 ml-md-auto">
                <img class="img-fluid" src="/assets/screenshot-4.png" alt="" />
            </div><!--//figure-->
        </div><!--//item-->
        
         <hr />
        
        <div class="item row">
            <div class="content col-md-5 col-12 order-md-12 ml-md-auto">
                <h3 class="title">Get your vessentials now!</h3>
                <div class="details">
                    <p>Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. Place nice images here. or remove this block. sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis tellus magna.</p>
                </div>
            </div><!--//content-->
            <div class="figure col-md-6 col-12 order-md-1">
                <img class="img-fluid" src="/assets/screenshot-5.png" alt="" />
            </div><!--//figure-->
        </div><!--//item-->               
    </div><!--//container-->
</section>

<%= render 'layouts/bottombanner' %>
