<div id="index-shirts">
	<div id="tagline">
		<div class="container">
			Save Money to save you 
			<button type="button" id="cta-see-it" class="btn btn-lg">See How Vessentials Works</button>
		</div>
	</div>
</div>

<div id="index-box">
	<div class="container">
		  <div class="row">
		    <div class="col-sm">
		      <%= image_tag("/assets/vessentialsBox.png") %>
		    </div>
		    <div class="col-sm">
		      <p>
		      	Vessentials is a Pennsylvania based company that distributes everyday essentials and hygenic products at value price to the customers by mail. We deliver essential products monthly for necessary family needs.
		      </p>
		    </div>
		  </div>
	</div>

</div>

<div id="index-charity">
	
</div>