<div id="index-shirts">
	<div id="tagline">
		<div class="container">
			Save Money to save you 
			<button type="button" id="cta-see-it" class="btn btn-lg">
				See How Vessentials Works
			</button>
		</div>
	</div>
</div>

<div id="index-box">
	<div class="container">
	  <div class="row">
	    <p>
	    	Vessentials is a Pennsylvania based company that distributes everyday essentials and hygenic products at value price to the customers by mail. We deliver essential products monthly for necessary family needs.
	    </p>
	    <h4 class="col-sm-12 text-center">
        Monthly Subscriptions Of Essebntial Products Delivered To You
	    </h4>
	    <div id="left-box" class="col-sm-6">
	      <%= image_tag("/assets/vessentialsBox.png", width: '200') %>
	    </div>
	    <div id="right-text" class="col-sm-6">
        blahblahblahblahblahb lahblahblahblahb lahblahblahblahblahblahblahblahblahblahblah socks, jdfnskj nsdkf ksdfnsdnf kjsnfknsdkfn snknknk n 
	    </div>
    </div>
    <div id="plans" class="row">
      <h4 class="text-center col-sm-12">
        Choose A Plan That's Vessential To You...
      </h4>
      <div class="col-sm">img1</div>
      <div class="col-sm">img2</div>
      <div class="col-sm">img3</div>
    </div>
  </div>
</div>

<div id="index-charity">
	
</div>
