
        <!-- ******PRICE PLAN****** --> 
        <section id="price-plan" class="price-plan section">
            <div class="container text-center">
                <h2 class="title">30 day FREE trial with all plans!</h2>
                <p class="intro">Tempo's pricing is simple and you can change your plan at any time. </p>
                <div class="price-cols row">
                    <div class="item col-md-4 col-12">
                        <h3 class="heading">Basic</h3>
                        <div class="content">
                            <p class="price-figure"><span class="currency">$</span><span class="number">5</span><span class="unit">/month</span></p>
                            <ul class="list-unstyled feature-list">
                                <li>1 Human</li>
                                <li>3 5-blade razors</li>
                                <li>1 pair of boxer briefs</li>
                                <li>1 50-count package of Q-Tips</li>
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="#">Sign Up <br /><span class="extra">30 day free trial</span></a>
                        </div><!--//content-->
                    </div><!--//item--> 
                    
                    <div class="item col-md-4 col-12">
                        <h3 class="heading">Plus <span class="label label-custom">Popular</span></h3>
                        <div class="content">
                            <p class="price-figure"><span class="currency">$</span><span class="number">10</span><span class="unit">/month</span></p>
                            <ul class="list-unstyled feature-list">
                                <li>2 Humans</li>
                                <li>3 5-blade razors</li>
                                <li>1 pair of boxer briefs</li>
                                <li>1 50-count package of Q-Tips</li>
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="#">Sign Up <br /><span class="extra">30 day free trial</span></a>
                        </div><!--//content-->
                    </div><!--//item-->  
                    
                    <div class="item col-md-4 col-12">
                        <h3 class="heading">Premium</h3>
                        <div class="content">
                            <p class="price-figure"><span class="currency">$</span><span class="number">25</span><span class="unit">/month</span></p>
                            <ul class="list-unstyled feature-list">
                                <li>5 Humans</li>
                                <li>3 5-blade razors</li>
                                <li>1 pair of boxer briefs</li>
                                <li>1 50-count package of Q-Tips</li>
                            </ul>
                            <a class="btn btn-cta btn-cta-primary" href="#">Sign Up <br /><span class="extra">30 day free trial</span></a>
                        </div><!--//content-->
                    </div><!--//item-->        
                                 
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//price-plan-->
        
        <!-- ******FAQ****** --> 
        <section id="faq" class="faq section has-bg-color">
            <div class="container">
                <h2 class="title text-center">Frequently Asked Questions</h2>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle collapsed" href="#faq1" aria-expanded="false"><i class="fa fa-plus-square"></i>Can I viverra sit amet quam eget lacinia?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq1" aria-expanded="false">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card-->
                
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq2"><i class="fa fa-plus-square"></i>What is the ipsum dolor sit amet quam tortor?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq2">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card-->
                
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq3"><i class="fa fa-plus-square"></i>How does the morbi quam tortor work?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq3">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card-->
                        
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq4"><i class="fa fa-plus-square"></i>Can I ipsum dolor sit amet nascetur ridiculus?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq4">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card--> 
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq5"><i class="fa fa-plus-square"></i>Is it possible to tellus eget auctor condimentum?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq5">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card-->
                
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq6"><i class="fa fa-plus-square"></i>Would it elementum turpis semper imperdiet?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq6">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card-->
                
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq7"><i class="fa fa-plus-square"></i>How can I imperdiet lorem sem non nisl?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq7">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card-->
                        
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><a data-parent="#accordion" data-toggle="collapse" class="card-toggle" href="#faq8"><i class="fa fa-plus-square"></i>Can I imperdiet massa ut?</a></h4>
                            </div>
                
                            <div class="card-collapse collapse" id="faq8">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee
                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim
                                    aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div><!--//card--> 
                    </div>
                </div><!--//row-->
                <div class="more text-center">
                    <h4 class="title">More questions?</h4>
                    <a class="btn btn-cta btn-cta-secondary" href="contact.html">Get in touch</a>
                </div>
            </div><!--//container-->        
        </section><!--//faq-->


