$vessentially-blue: #00a6db;
$nav-color: #ffffff;
$site-font: 'Dosis', sans-serif;

.bluessential {
	color: $vessentially-blue;
}
html, body, h1, h2, p, div, span, *{
	font-family: $site-font;
}
html, body, p, div, span{
	font-size: 20px;
}

#vessentially-a-header{
	margin: 0;
	padding: 0 100px;
	background: $nav-color;
	height: 80px;
	.container{
		padding-left: 0px;
		padding-right: 0px;
	}
	.nav-link, p, li{
		// color: $vessentially-blue;
		color: $vessentially-blue;
		text-transform: uppercase;
	}
}
#vessentially-a-footer{
	margin: 0;
	padding: 0;
	height: 100px;
	background: skyblue; 
	.container{
		padding-left: 0px;
		padding-right: 0px;
		color: white;
	}
	.nav-link, p, li{
		// color: $vessentially-blue;
		color: white;
		text-transform: uppercase;
	}
}

#index-shirts{
	font-family: $site-font;
	#index-subtag, #index-tag{
		margin-top: 9px;
	}
	#lander-logo{
		margin: 0 auto;
		margin-top: 9%;
  	text-align: center;
	}
	h1,h2,h3{
		
	}
	display: flex;
	// justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;

	background-color: $nav-color;
	background-image: image-url("stock-box.png"), image-url("stock-shirts2.png");
	background-size: 35% , 40%;
	background-position: left bottom, 133% 90%;
	background-repeat: no-repeat;

	font-size: 1.8rem;
	font-weight: 500;

	text-transform: uppercase;
	#tagline{
		background: rgba(228, 241, 254, 0.8);
		margin-top: auto;
		width: 100%;
		height: 75px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: 0px;
		.container{
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 100%;
			#cta-see-it{
				color: white;
				margin-left: 50px;
				background: $vessentially-blue;
			}
		}
	}
}
#index-box {
	// background-color: #2980b9;
	// background-image: image-url("stock-pencils.jpg");
	padding: 50px 0 0 0;
	background-size: 50%;
	background-repeat: no-repeat;

	display: flex;
	align-items: center;
	justify-content: center;
	#box-info-header{
		margin: 30px 0;
	}
	#left-box{
		max-width: 50%;
	}
	#right-text{
		align-self: center;
	}
	#bubbles{
		margin: 3rem 0;
	}
}
#shirt-banner{
	height: 150px;
	background-color: #ffffff;
	background-image: image-url("stock-t.jpeg");

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#index-faq{
	background-color: #3498db;
	padding-top: 23px;
	height: 600px;
	color: white;
	background-image: image-url("toiletries.svg");
	background-repeat: no-repeat;
	background-position: bottom -200px right 100px;
	.faq{
		font-size: 20px;
		padding: 10px 0;
	}
	ul{
		margin: 0;
	}
}
#index-contact{
	height: 600px;
	padding-top: 50px;
	background-color: #08182b;
	color: #000;
	background-image: image-url("stock-store.jpg");
	background-size:     cover;
	background-repeat:   no-repeat;
	background-position: center center;
	.container{
		height: 100%;
		#contact-box{
			background-color: rgba(238, 238, 238, 0.95);
			padding: 20px;
			width: 75%;
			height: 75%;
		}
	}
	
}
