$vessentially-blue: #00a6db;
$nav-color: #ffffff;
$site-font: 'Dosis', sans-serif;

.bluessential {
	color: $vessentially-blue;
}
#vessentially-a-header{
	margin: 0;
	padding: 0 100px;
	background: $nav-color;
	height: 80px;
	font-family: $site-font;
	.container{
		padding-left: 0px;
		padding-right: 0px;
	}
	.nav-link, p, li{
		// color: $vessentially-blue;
		color: $vessentially-blue;
		text-transform: uppercase;
	}
}
#vessentially-a-footer{
	margin: 0;
	padding: 0;
	height: 100px;
	background: skyblue; 
	.container{
		padding-left: 0px;
		padding-right: 0px;
		color: white;
	}
	.nav-link, p, li{
		// color: $vessentially-blue;
		color: white;
		text-transform: uppercase;
	}
}

#index-shirts{
	font-family: $site-font;
	#index-subtag, #index-tag{
		margin-top: 9px;
	}
	#lander-logo{
		margin: 0 auto;
		margin-top: 15%;
  	text-align: center;
	}
	h1,h2,h3{
		
	}
	display: flex;
	// justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;

	background-color: $nav-color;
	background-image: image-url("stock-box.png"), image-url("stock-shirts2.png");
	background-size: 35% , 40%;
	background-position: left bottom, 135% 30%;
	background-repeat: no-repeat;

	font-size: 1.8rem;
	font-weight: 500;

	text-transform: uppercase;
	#tagline{
		background: rgba(4, 165, 219, 0.8);
		margin-top: auto;
		width: 100%;
		height: 65px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: 0px;
		.container{
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 100%;
			#cta-see-it{
				color: white;
				margin-left: 50px;
				background: $vessentially-blue;
			}
		}
	}
}
#index-box {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	#plans-info{
		font-size: 1.2rem;
	}
	#left-box{
		max-width: 50%;
	}
	#right-text{
		align-self: center;
	}
	#bubbles{
		margin: 3rem 0;
	}
}
#index-charity{
	height: 500px;
	background-color: #ffffff;
	background-image: image-url("water.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
