<div class="position-relative overflow-hidden p-3 mb-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Vessentially Yours</h1>
    <p class="lead font-weight-normal">Get whats Vessential to you...</p>
  </div>
</div>
<div class="container">
  <div class="card-deck mb-3 text-center">

    <%= render 'charges/male_plans' %>
    <%= render 'charges/female_plans' %>

  </div>
</div>

<script>
  const changePlan = (plan) => {
    const selected = event.target.value;
    if(plan === 'male'){
      document.getElementById("selected_plan_male").value = selected;
    } 
    if(plan === 'female'){
      document.getElementById("selected_plan_female").value = selected;
    }
  }
</script>