<!-- ******SIGNUP****** --> 
<section id="signup" class="signup has-bg-color">
    <div class="container text-center">
        <h2 class="title">Do you have your vessentials yet?</h2>
        <p class="summary">Sign up now and get 50% on your first shipment!</p>
        <form class="signup-form" method="post" action="#">
            <div class="form-group">
                <label class="sr-only" for="semail2">Your email</label>
                <input type="email" id="semail2" name="semail2" class="form-control" placeholder="Enter your email address" required>
            </div>
            <button type="submit" class="btn btn-cta btn-cta-primary">SIGN UP</button>
        </form><!--//signup-form-->
    </div>
</section><!--//signup-->