<nav id="vessentially-a-footer" class="navbar navbar-expand-sm navbar-dark">
  <div class="container">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">how it works</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link">faq</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">donate</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link">plans</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link">checkout</a>
      </li>
    </ul>   
  </div>
</nav>