<header id="header" class="header">  
  <div class="container">            
    <h1 class="logo">
      <a href="index.html">
        <%= link_to image_tag("logo.jpg", width: "80px"), root_path, class: 'logo-title'  %>
      </a>
    </h1><!--//logo-->              
    <nav class="main-nav navbar navbar-expand-md navbar-dark" role="navigation">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>           
      <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active nav-item"><a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item"><%= link_to "Tour", pages_how_path, :class=>"nav-link" %></li>
          <li class="nav-item"><%= link_to "Pricing", pages_pricing_path, :class=>"nav-link" %></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Blog <i class="fa fa-angle-down"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="www.yahoo.com">Bronze Boss</a>
              <a class="dropdown-item" href="www.bing.com">Silver Surfer</a>
              <a class="dropdown-item" href="www.google.com">Gold Greatness</a>
            </div>
          </li><!--//dropdown--> 
          <li class="nav-item"><%= link_to "Contact", pages_contact_path, :class=>"nav-link" %></li>                         
          <li class="nav-item"><a class="nav-link login-trigger" data-toggle="modal" data-target="#login-modal">Log in</a></li>
          <li class="nav-item nav-item-cta last"><a class="nav-link btn btn-cta btn-cta-primary" data-toggle="modal" data-target="#signup-modal" >Get Started</a></li>
        </ul><!--//nav-->
      </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->     
  </div><!--//container-->
</header><!--//header-->