<ul>
	<li id="nav-logo"><%= image_tag ( "logo.jpg"), width: "120px" %></li>
	<li><a href="#home">How It Works</a></li>
	<li><a href="#News">FAQ</a></li>
	<li><a href="#about">Donate</a></li>
	<li><a href="#contact">Plans</a></li>
	<li><a href="#about">Box</a></li>
	<li><a href="#contact">Checkout</a></li>
</ul>
